.round-image
{
	border-radius: 50%;
	width: 150px;
}
.center
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.hej
{
	position: relative;
}
.image 
{ 
   width: 100%;
}
h1 
{ 
   position: absolute; 
   bottom: 28px; 
   width: 100%; 
   color: #f8f8ff; 
   text-align: center; 
   font-family: 'Oxygen', sans-serif;
}
.why-heading
{
	font-family: 'Oxygen', sans-serif;
}
.why-text
{
	font-size: 15px;
	font-family: 'Oxygen', sans-serif;
	padding: 11px;

}
.section
{
	background-color: #ffffff; 
	overflow: auto;
	padding: 100px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 65px;
    padding-bottom: 20px;
}

.mellantxt
{
    width: 22%;
    float: left;
    margin-left: 5.6%;
    margin-right: 5.6%;
    font-family: 'Oxygen', sans-serif;
}
.om-oss
{
	background-color: #D2D8D8
}
h3
{
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	padding-top: 50px;
}
.omoss-text
{
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 65px;
}
@media only screen and (max-width: 768px) {
	.mellantxt 
	{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}
	.section
	{
		padding: 10px;
	}
	.center
	{
		padding-top: 30px;
	}
}